/* ____________________ GLOBAL ____________________ */

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1620px;
}

.btn-reset {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.flex {
    display: flex;
}